{% extends 'layout.twig' %}

{% block body %}

  {% include "./modules/header.twig" %}

  <section class="hero">
    <picture>
      <source media="(min-width: 1920px)" srcset="{{ hero.image.desktopXL }}">
      <source media="(min-width: 1200px)" srcset="{{ hero.image.desktop }}">
      <source media="(min-width: 768px)" srcset="{{ hero.image.tablet }}">
      <img src="{{ hero.image.mobile }}" alt="Alertas Seguridad Privada">
    </picture>
  </section>

  <section class="contacto container">
    <h1>{{ contacto.title }}</h1>

    {% for text in contacto.body %}
      <p>{{ text }}</p>
    {% endfor %}

    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputNombreApellido" class="form-label">Nombre y Apellido <span class="required">*</span></label>
        <input type="text" class="form-control" id="inputNombreApellido" placeholder="Ej: Quique Necochea">
      </div>
      {# <div class="col-md-6">
        <label for="inputCompania" class="form-label">Compañia</label>
        <input type="text" class="form-control" id="inputCompania">
      </div> #}
      <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email <span class="required">*</span></label>
        <input type="email" class="form-control" id="inputEmail" placeholder="quiquenecochea_ok@gmail.com">
      </div>
      <div class="col-12">
        <label for="inputTelefono" class="form-label">Teléfono <span class="required">*</span></label>
        <input type="text" class="form-control" id="inputTelefono" placeholder="Ej: 1155556666">
      </div>
      <div class="col-md-6">
        <label for="inputCV" class="form-label">Adjuntar</label>
        <input type="file" class="form-control" id="inputCV">
      </div>
      <div class="col-md-6">
        <label for="inputCotizacion" class="form-label">Como nos conociste</label>
        <select class="form-select" id="inputCotizacion">
          {# <option selected>Cotización</option> #}
          <option value="Opcion 1">Opción 1</option>
          <option value="Opcion 2">Opción 2</option>
        </select>
      </div>
      {# <div class="col-12">
        <label for="inputMensaje" class="form-label">Mensaje <span class="required">*</span></label>
        <textarea class="form-control" id="inputMensaje" rows="3"></textarea>
      </div> #}
      <div class="col-12 d-flex justify-content-center">
        <button type="submit" class="alertas-btn-secondary">ENVIAR</button>
      </div>
    </form>
  </section>

  {# {% include "./modules/trabajar-en-alertas.twig" %} #}

  {% include "./modules/footer.twig" %}
{% endblock %}
