<section class="nuestros-servicios-seguridad-privada container">
    <h2>{{nuestrosServiciosDeSeguridadPrivada.title}}</h2>

    <h3>{{nuestrosServiciosDeSeguridadPrivada.subtitle}}</h3>

    {% for text in nuestrosServiciosDeSeguridadPrivada.texts %}
        <p class="paragraph">{{text}}</p>
    {% endfor %}

    <div class="card-container">
    {% for card in nuestrosServiciosDeSeguridadPrivada.cards %}
        <article class="card-nuestros-servicios {{card.class}}">
            <div class="title-wrapper">
                <p>{{card.title}}</p>
            </div>

            <div class="content-wrapper">
                <h4>{{card.label}}</h4>

                <a href={{card.link}} class="alertas-btn-primary">VER MÁS</a>
            </div>
        </article>
    {% endfor %}
    </div>
</section>